<header class="fixnav">
  <a class="logo" href="#" style="font-style: italic;"> Shohana Fashion</a>
  <nav>
      <ul class="nav_links">
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
  </nav>
</header>