<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/cart.css">
    <title>ShohanaFashion Online Clothing Store</title>
  </head>
  <body class="container">
    <%- include('partials/header') %>
  <%- include('partials/cartBody') %>
  <%- include('partials/footer') %>
  </body>
</html>