<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/styless.css">
    <title>ShohanaFashion Online Clothing Store</title>
</head>

<body class="container">
    <%- include('partials/header') %>

        <%- include('partials/message') %>

            <div id="bgp">
                <h1>Pick from our wide range of fashion products</h1><br>
                <h2>Check out our items in the products section</h2>

                <br>
                <marquee>
                    <h3><b>Welcome to Shohana Fashion Online Store</b></h3>

                    <div class="par"><br><br>

                        <h3>Submitted By :</strong> </h3>
                        <h3 class="tx2">Trainee ID: <strong>1280423</strong> </h3>
                        <h3 class="tx2">Name:<strong> Shohana Hawlader </strong> </h3>
                        <h3 class="tx2">Batch:<strong> CS/SCSL-A/58/01 </strong> </h3>

                    </div>
                </marquee>
            </div>

            <%- include('partials/footer') %>
</body>

</html>